/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

/* Heading styles */
h2, h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Input field styles */
label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Button styles */
.next-button,
input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.next-button:hover,
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Login button */
.login-button {
  display: inline-block;
  text-align: center;
  margin-top: 18px;
  background-color: #243b94;
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 15px;
}

.login-button:hover {
  background-color: #88300a;
}

/* Buttons container */
.buttons {
  text-align: center;
}


/* Responsive design */
@media (max-width: 600px) {
  .registration-form {
      width: 90%;
  }
}
